@model  Digital_Planner.Models.Event

@{ 
    var tile_class = "";
    var tile_title = "";

    //Incomplete & DateTime has passed
    if (!Model.IsComplete && Model.CompleteBy.CompareTo(DateTime.Now) < 0)
    {

        tile_class = "danger";
        tile_title = "This event is past due";
    }
    //Incomplete & DateTime is today
    else if (!Model.IsComplete && Model.CompleteBy.Date.CompareTo(DateTime.Now.Date) == 0)
    {
        tile_class = "warning";
        tile_title = "This event is set to be completed today";
    }
    else if (Model.IsComplete)
    {
        tile_class = "success";
        tile_title = "This event is complete";
    }
}
<td class="text-center">@Model.OccursAt.ToString("h:mm tt")</td>
<td class="text-center">@Model.Title</td>
<td class="text-center" title="@tile_title">
    @if (Model.CompleteBy.Date.Equals(DateTime.Today.Date))
    {
        @Model.CompleteBy.ToString("h:mm tt") 
    }
    else
    {
        @Model.CompleteBy.ToString("M/d/yyyy h:mm tt")
    }
</td>
<td class="text-center">
    @{
        if (Model.IsComplete)
        {
            //Don't need text-success since it will inherit it.
            <span class="glyphicon glyphicon-check"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-remove text-danger"></span>
        }
    }
</td>
@* Edit/Delete glyph-links*@
    <td class="text-center">
        <a class="btn-xs btn-success" title="Edit event"  href=@Url.Action("Edit/" + Model.ID, "Events")><span class="glyphicon glyphicon-edit"></span></a>
    </td>
    <td class="text-center">
        <a class="btn-xs btn-danger" title="Delete event" href=@Url.Action("Delete/" + Model.ID, "Events")><span class="glyphicon glyphicon-remove"></span></a>
    </td>

