@model  Digital_Planner.Models.Event

@{ 
    var tile_class = "";
    var tile_title = "";

    //Incomplete & DateTime has passed
    if (!Model.IsComplete && Model.CompleteBy.CompareTo(DateTime.Now) < 0)
    {

        tile_class = "danger";
        tile_title = "This event is past due";
    }
    //Incomplete & DateTime is today
    else if (!Model.IsComplete && Model.CompleteBy.Date.CompareTo(DateTime.Now.Date) == 0)
    {
        tile_class = "warning";
        tile_title = "This event is set to be completed today";
    }
    else if (Model.IsComplete)
    {
        tile_class = "success";
        tile_title = "This event is complete";
    }
}
<td>@Model.OccursAt.ToString("M/d/yyyy h:mm tt")</td>
<td>@Model.Title</td>
<td title="@tile_title">
    @if (Model.CompleteBy.Date.Equals(DateTime.Today.Date))
    {
        @Model.CompleteBy.ToString("M/d/yyyy h:mm tt") 
    }
    else
    {
        @Model.CompleteBy.ToString("M/d/yyyy h:mm tt")
    }
</td>
<td>
    @{
        if (Model.IsComplete)
        {
            //Don't need text-success since it will inherit it.
            <span class="glyphicon glyphicon-check"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-remove text-danger"></span>
        }
    }
</td>
@* Edit/Delete glyph-links*@
    <td>
        @Html.Partial("_EventButtons", Model)
    </td>

