@model Digital_Planner.Models.User

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<section id="day" class="table">
    <div id="columns"class="row">
        <span class="col">Category</span>
        <span class="col">Time</span>
        <span class="col">Title</span>
        <span class="col">Duration</span>
        <span class="col">Due</span>
    </div>
    <section class="events">
        @{
            //Events grouped by category
            foreach (var evt in Model.Events)
            {
                <div class="row">
                    <span class="col">@evt.Category.Description</span>
                    <span class="col">@evt.OccursAt</span>
                    <span class="col">@evt.Title</span>
                    <span class="col">@evt.Duration</span>
                    <span class="col">@evt.CompleteBy</span>
                </div>
            }
        }
    </section>
</section>

@{ /*
  @foreach (var item in Model)
  {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.LastName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Email)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Password)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
              @Html.ActionLink("Details", "Details", new { id = item.ID }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.ID })
          </td>
      </tr>
  }*/
}