@model Digital_Planner.Models.User

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<section id="day" class="table">
    <div id="columns"class="row">
        <span class="col">cat</span>
        <span class="col">time</span>
        <span class="col">cmp?</span>
        <span class="col">title</span>
        <span class="col">dur</span>
        <span class="col">due</span>
    </div>
    <section class="events">
        @{
            //Events grouped by category
            foreach (var evt in Model.Events)
            {
                <section class="col">@evt.Category.Description</section>
                <section class="col">@evt.OccursAt</section>
                <section class="col">@evt.Title</section>
                <section class="col">@evt.Duration</section>
                <section class="col">@evt.CompleteBy</section>
            }
        }
    </section>
</section>

@{ /*
  @foreach (var item in Model)
  {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.LastName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Email)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Password)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
              @Html.ActionLink("Details", "Details", new { id = item.ID }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.ID })
          </td>
      </tr>
  }*/
}