@model Digital_Planner.Models.User

@{
    ViewBag.Title = "Schedule";
    var model_events = Model.Events;
}
<script type="text/javascript">
    function toggle_schedule(showID) {
        if (showID != null) {
            document.getElementById("day").style.display = 'none'
            document.getElementById("week").style.display = 'none'
            document.getElementById("month").style.display = 'none'
            if ("month_button".match(showID)) {
                document.getElementById("month").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = 'Events of @DateTime.Today.ToString("MMMM") @DateTime.Today.Year'
            } else if ("week_button".match(showID)) {
                document.getElementById("week").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = '7-Day Schedule'
            } else {
                document.getElementById("day").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = 'Schedule for today: @DateTime.Today.ToString("MMMM"), @DateTime.Today.Day @DateTime.Today.Year'
            }
        }
    }
</script>

<h2 id="schedule_text">Schedule for today: @DateTime.Today.ToString("MMMM"), @DateTime.Today.Day @DateTime.Today.Year</h2>
<div class="row">
    <center>
        <button id="day_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Today</button>
        <button id="week_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Week</button>
        <button id="month_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Month</button>
    </center>
</div>

<div id="schedule" class="row" style="margin-top:1%">
    <div id="day" class="table">
        <table class="table table-hover table-responsive">
            <tr>
                <th class="text-center">Category</th>
                <th class="text-center">Time</th>
                <th class="text-center">Title</th>
                <th class="text-center">Completion Time</th>
                <th class="text-center">Completed</th>
                <th colspan="2" class="text-center">Edit/Delete</th>
            </tr>

            @{ var today_by_cats = Model.Events.Where(e => e.OccursAt.DayOfYear == DateTime.Today.DayOfYear || e.CompleteBy.DayOfYear == DateTime.Today.DayOfYear);}
            @foreach (var cat in today_by_cats.OrderBy(e => e.Priority).GroupBy(e => e.CategoryID))
            {
                @Html.Partial("_Category", cat)
            }
            @*Blank row for styling...*@
            <tr>
                <td colspan="7"></td>
            </tr>
        </table>
    </div>


    <div id="week" class="table" style="display:none;">
        <table class="table table-hover table-responsive">
            @{ var week = Model.Events.Where(e => (e.OccursAt.DayOfYear - DateTime.Today.DayOfYear >= 0 && e.OccursAt.DayOfYear - DateTime.Today.DayOfYear < 7) || (e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear >= 0 && e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear < 7));}
            @foreach (var day in week.OrderBy(e => e.OccursAt).GroupBy(e => e.OccursAt.DayOfYear))
            {
                    <tr>
                        <th colspan="7" class="text-center">@day.First().OccursAt.DayOfWeek, @day.First().OccursAt.ToShortDateString()</th>
                    </tr>
                    <tr>
                        <th class="text-center">Category</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Completion Time</th>
                        <th class="text-center" >Completed</th>
                        <th colspan="2" class="text-center">Edit/Delete</th>
                        
                    </tr>
                    foreach(var cat in day.OrderBy(e => e.Priority).GroupBy(e => e.CategoryID))
                    {
                        @Html.Partial("_Category", cat)
                    }
                    @*Blank row for styling...*@
                    <tr>
                        <td colspan="7"></td>
                    </tr>
            }
        </table>
        </div>


    <div id="month" class="table">
        <table class="table">
        </table>
    </div>
@*
    <div id="month" style="display:none;">
        <table width="100%">
            @{ var month_events = model_events.Where(e => (e.OccursAt.Date.Month == DateTime.Today.Month && e.OccursAt.Date.Year == DateTime.Today.Year) || (e.CompleteBy.Date.Month == DateTime.Today.Month && e.CompleteBy.Date.Year == DateTime.Today.Year));}
            @{ var day_number = 1;}
            @while (day_number < DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month))
            {
                var week_index = 1;
                var day_num = day_number;
                <tr>
                    @while (week_index++ <= 7 && day_number < DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month))
                    {
                        <th><h4>@day_number</h4></th>
                        day_number++;
                    }
                </tr>

                week_index = 1;
                day_number = day_num;
                <tr>
                    @while (week_index++ <= 7 && day_number < DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month))
                    {
                        foreach (var events_in_day in month_events.OrderBy(e => e.OccursAt))
                        {
                            if (day_number == events_in_day.OccursAt.Day)
                            {
                            <td style="padding:1%;"><h6>@events_in_day.Title</h6></td>
                            }
                        }
                        day_number++;
                    }
                </tr>
            }
        </table>
    </div>
    *@
</div>
