@model Digital_Planner.Models.User

@{
    ViewBag.Title = "Schedule";
}
<script type="text/javascript">
    function toggle_schedule(showID) {
        if (showID != null) {
            document.getElementById("day").style.display = 'none'
            document.getElementById("week").style.display = 'none'
            document.getElementById("month").style.display = 'none'
            if ("month_button".match(showID)) {
                document.getElementById("month").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = 'this month'
            } else if ("week_button".match(showID)) {
                document.getElementById("week").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = 'this week'
            } else {
                document.getElementById("day").style.display = 'block'
                document.getElementById("schedule_text").innerHTML = 'today'
            }
        }
    }
</script>

<h2>Schedule for <span id="schedule_text">today</span></h2>
<div class="row">
    <center>
        <button id="day_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Today</button>
        <button id="week_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Week</button>
        <button id="month_button" class="btn" onclick="toggle_schedule(this.id)" style="margin-right: 1%;">Month</button>
    </center>
</div>

<div id="schedule" class="row" style="margin-top:1%">
    <div id="day">
        <table style="width:100%">
            <tr id="columns" style="border-bottom:2px solid">
                <th><center><strong>Category</strong></center></th>
                <th><center><strong>Time</strong></center></th>
                <th><center><strong>Title</strong></center></th>
                <th><center><strong>Duration</strong></center></th>
                <th><center><strong>Due</strong></center></th>
            </tr>
            @foreach (var category_group in Model.Events.OrderBy(e => e.Priority).GroupBy(e => e.CategoryID))
            {
                <tr><td>&nbsp;</td></tr>
                var rowspan = category_group.Count() + 1;
                <td class="" rowspan="@rowspan" style="border:1px solid;"><center>@category_group.First().Category.Description</center></td>

                foreach (var evt in category_group.OrderBy(e => e.Priority))
                {
                    <tr style="border: 1px solid;">
                        <td class=""><center>@evt.OccursAt</center></td>
                        <td class=""><center>@evt.Title</center></td>
                        @*@<td class=""><center>@Html.ActionLink(evt.Title, "Details", "Events", evt.ID)</center></td>*@
                        <td class=""><center>@evt.Duration</center></td>
                        @{  if (DateTime.Today.Date.Equals(evt.CompleteBy.Date))
                            {
                                <td class="text-danger"><center>@evt.CompleteBy</center></td>
                            }
                            else
                            {
                                <td class=""><center>@evt.CompleteBy</center></td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    </div>
    <div id="week" class="table">
        Week
    </div>

    <div id="month" class="table">
        Month
    </div>
</div>
@{ /*
  @foreach (var item in Model)
  {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.LastName)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Email)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Password)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
              @Html.ActionLink("Details", "Details", new { id = item.ID }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.ID })
          </td>
      </tr>
  }*/
}