@model IEnumerable<Digital_Planner.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>All Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OccursAt)
        </th>
        @* Header for categories - 'description' doesn't adequately define what is in the column *@
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BufferTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <!-- Blank header tag for uniform look to each row -->
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(e => e.OccursAt).ThenBy(e => !e.IsComplete)) {
    <tr class="text-center">
        <td>@item.OccursAt.ToString("M/d/yyyy hh:mm tt")</td>
        <td>
            @item.Category.Description
        </td>
        <td>
            @Html.ActionLink(item.Title, "Edit", "Events", new { id = item.ID }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BufferTime)
        </td>
        <td>
            @Html.Partial("_Priority", item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.Partial("../Shared/_EventButtons", item)
        </td>
    </tr>
}

</table>
